.row {
  display: flex;
  justify-content: space-evenly;
}

.column {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 100%;
}

.row {
  display: flex;
  justify-content: space-around;
}

.node {
  border-radius: 50%;
  background: #7c3aa2;
  color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}