.row {
  display: flex;
  justify-content: space-evenly;
}

.column {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  height: 200px;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.node {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background: #ab6a31;
  display: flex;
  justify-content: center;
  align-items: center;
}
